
services:
  proxy:
    image: ubuntu/squid
    volumes:
      - ./squid.conf:/etc/squid/squid.conf
      - ./squid.dev.conf:/etc/squid/squid.dev.conf
    env_file:
      - ./.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - devnet
      - internet
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - HTTP_PROXY=http://proxy:3128
      - HTTPS_PROXY=http://proxy:3128
    networks:
      - devnet
    depends_on:
      - proxy
    user: ubuntu
    working_dir: /home/ubuntu
    volumes:
      - ../../:/home/ubuntu/workspace
      - ./.npmrc/:/home/ubuntu/.npmrc
    command: sleep infinity
  sonarqube:
    image: sonarqube:community
    ports:
      - "9000:9000"
    environment:
      TZ: UTC
    networks:
      - devnet
      - ingress_net
networks:
  devnet:
    driver: bridge
    internal: true
  internet:
    driver: bridge
# We shoudl make internet private and create another network only for the squdi server to get to internet
